
@{
    ViewData["Title"] = "Login";
}

    <div>
        <h1>Login</h1>
        @if (ViewBag.Error != null)
        {
            <p style="color:red;">@ViewBag.Error</p>
        }
        <form method="post">
            <input name="username" placeholder="username" type="text" style="width: 400px;" class="form-control" /><br>
            <input name="password" placeholder="password" type="password" style="width: 400px;" class="form-control" /><br>
            <button type="submit" class="btn btn-outline-secondary" style="width: 400px;">Login</button>
        </form>
        <br>
        <a href="/Account/Signup/">Don't have an account?</a>

    </div>